@model IEnumerable<WebApplication1.Models.Event>

<h2>All Events</h2>
<div id="events-list">
    @foreach(var ev in Model)
    {
        @await Html.PartialAsync("_EventPartial", ev)
    }
</div>

<span id="cart-count">0</span>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".add-to-cart").click(function(){
        var eventDiv = $(this).closest(".event-card");
        var eventId = eventDiv.data("id");

        $.ajax({
            url: "/api/cart/add",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ Id: eventId, EventName: eventDiv.find("h4").text(), EventDate: new Date() }),
            success: function(res){
                $("#cart-count").text(res.count);
                alert("Added to cart!");
            }
        });
    });
});
</script>